/* General & body*/
* {
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    margin-left: 0;
    margin-right: 0;
    background-color: #ddd;
}

/* Utility */
p span {
    font-weight: bold;
}

/* Header */
.main-header {
    padding: 60px;
    background-color: #90ee90;
    background-image: url(../img/pattern.png);
    text-align: center;
}

.main-header__logo {
    width: 50%;
}

/* Main */
.article {
    max-width: 1090px;
    margin: 40px auto;
    border-radius: 10px;
    background-color: #fff;
    padding: 40px;
}

/* Header */
.article__header {
    padding-bottom: 10px;
    border-bottom: 1px solid #517664;
}

.article__header__title {
    font-size: 40px;
    margin-bottom: 10px;
}

.article__header__author,
.article__header__date {
    color: #888;
}

.article__header__author {
    font-size: 18px;
}

.article__header__author a {
    color: #60a560;
    text-decoration: none;
}

.article__header__date {
    font-size: 14px;
}

.article__body {
    margin-top: 30px;
}

/* Image */
.img-description {
    margin-bottom: 20px;
    font-size: 14px;
    color: #888;
}

.article__body ul {
    margin-top: 10px;
}

/* Table */
table {
    margin-block: 20px;
    border-collapse: collapse;
}

thead tr {
    background-color: #517664;
    color: #fff;
}

thead th {
    text-align: left;
}

td,
th {
    width: 24%;
    padding: 10px;
}

td:nth-child(3),
th:nth-child(3) {
    width: 52%;
}

tbody tr:nth-child(odd) {
    background-color: lightgreen;
}

/* Footer */
footer {
    padding: 40px;
    text-align: center;
    background-color: #58355E;
    color: #fff;
}

.footer__text {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.footer__monitor,
.footer__grafico {
    display: inline-block;
    width: 300px;
    height: 250px;
    padding-top: 205px;
    margin-inline: auto;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    font-size: 24px;
    font-weight: bold;
}

.footer__monitor {
    background-image: url(../img/monitor.jpg);
    margin-right: 20px;
}

.footer__grafico {
    background-image: url(../img/graph.jpg);
}