/* General & body*/
* {
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    margin-left: 0;
    margin-right: 0;
    background-color: #ddd;
}

/* Header */
.main-header {
    padding: 60px;
    background-color: lightgreen;
    background-image: url(../img/pattern.png);
}

.main-header__logo {
    width: 50%;
}

/* Main */
.article {
    max-width: 1090px;
    margin: 40px auto;
    border-radius: 10px;
    background-color: #fff;
    padding: 40px;
}

/* Header */
.article__header {
    padding: 40px;
}

/* Footer */
footer {
    padding: 40px;
    text-align: center;
    background-color: #58355E;
    color: #fff;
}

.footer__text {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.footer__monitor,
.footer__grafico {
    display: inline-block;
    width: 300px;
    height: 250px;
    padding-top: 205px;
    margin-inline: auto;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    font-size: 24px;
    font-weight: bold;
}

.footer__monitor {
    background-image: url(../img/monitor.jpg);
    margin-right: 20px;
}

.footer__grafico {
    background-image: url(../img/graph.jpg);
}